#root {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 3rem;
    text-align: center;
    width: 100%;

    overflow: hidden;
}

.content {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
